.row.wrapper.border-bottom.white-bg.page-heading
	.col-lg-9
		a(ui-sref="users.list")
			h2 Users
		ol.breadcrumb
			li
				strong {{ formdata.username }}

.wrapper.wrapper-content.animated.fadeInRight
	.row
		.col-lg-12
			form.form-horizontal(name="UserForm", ng-submit="submit()")
				.ibox.float-e-margins
					.ibox-title 
						.btn-toolbar.pull-right
							a.btn.btn-xs.btn-white(ng-click="cancel()") Cancel
							button.btn.btn-xs.btn-primary Save Changes
					.ibox-content
							label Account Information
							.form-group
								.col-md-12
									label.control-label Username
									input.form-control(type="text", placeholder="Username", ng-model="formdata.username", required="true")
							.form-group
								.col-md-6
									label.control-label Password
									input.form-control(type="password", placeholder="Password", ng-model="formdata.password", ng-required="!formdata._id")
								.col-md-6
									label.control-label Password Confirm
									input.form-control(type="password", placeholder="Retype Password", ng-model="formdata.passwordConfirm", ng-required="formdata.password")
							.hr-line-dashed
							label Profile Information
							.form-group
								.col-md-12
									label.control-label Full Name
									input.form-control(type="text", placeholder="User's full name", ng-model="formdata.fullName")
