.gray-bg.fullheight
	.middle-box.text-center.loginscreen.animated.fadeInDown
			div
					div
						img.appsplash.ut-width-100(src="/assets/images/toastycms.png")
					h3 Password Reset
					p Use this form to reset your password
					form.m-t(role='form', ng-submit="submit()")
						.form-group
							input.form-control(type='email', placeholder='Username', required='', ng-model="user.username")    
						button.btn.btn-primary.block.full-width.m-b(type="submit") Submit