div.modal-content
	div.modal-header
		button.close(type="button", data-dismiss="modal", aria-hidden="true", ng-click="close()") &times;
		h4.modal-title
			| {{ popup.options.title }}
	div.modal-body
			p {{ popup.message }}
	div.modal-footer
		button.btn.btn-default(type="button", data-dismiss="modal", ng-click="close()") OK