.file-name {
	word-wrap: break-word;
}

.file-explorer-image-preview {
	width: 100%;
}

.dropdown-inline {
	display: inline;
}

.media .file-box { 
	/* Overrides */
	width: 100% !important;
	margin: 0 auto !important;
}

.media-chunk {
	overflow: visible;
}