.row.wrapper.border-bottom.white-bg.page-heading
	.col-lg-9
		h2 File Manager
		ol.breadcrumb
			li Root
			li Sub 1
			li Sub 2
			li.active
				strong Sub 3
.wrapper.wrapper-content
	.row
		.col-lg-3
			.ibox.float-e-margins
				.ibox-content
					.file-manager
						.dropdown(dropdown="")
							button.btn.btn-primary.btn-block.dropdown-toggle(dropdown-toggle='') Create
								| &nbsp;
								.caret
							ul.dropdown-menu.animated.fadeInRight
								li
									a(href='') Folder Here
								li
									a(href='') File HEre
						.hr-line-dashed
						h5 Sub Files
						ul.folder-list(style="padding: 0")
							li
								a(href="")
									i.fa.fa-folder
									| Files
							li
								a(href="")
									i.fa.fa-folder
									| Pictures
							li
								a(href="")
									i.fa.fa-folder
									| Web pages
							li
								a(href="")
									i.fa.fa-folder
									| Illustrations
							li
								a(href="")
									i.fa.fa-folder
									| Films
							li
								a(href="")
									i.fa.fa-folder
									| Books
						.clearfix
		.col-lg-9.animated.fadeInRight
			.row
				.col-lg-12
					.file-box
						.file
							a(href="")
								span.corner
								.icon
									i.fa.fa-file
								.file-name
									| File_2014.doc
									br
									small Added: Jan 11, 2014
					.file-box
						.file
							a(href="")
								span.corner
								.icon
									i.fa.fa-file
								.file-name
									| File_2014.doc
									br
									small Added: Jan 11, 2014
					.file-box
						.file
							a(href="")
								span.corner
								.icon
									i.fa.fa-file
								.file-name
									| File_2014.doc
									br
									small Added: Jan 11, 2014
					.file-box
						.file
							a(href="")
								span.corner
								.icon
									i.fa.fa-file
								.file-name
									| File_2014.doc
									br
									small Added: Jan 11, 2014