nav.navbar-default.navbar-static-side(role='navigation')
	.sidebar-collapse
		ul#side-menu.nav(side-navigation='')
			li.nav-header
				span.dropdown.profile-element(dropdown='')
					//- img.img-circle(src="http://placehold.it/48x48.png")
					a.dropdown-toggle(dropdown-toggle='', href='')
						span.clear
							span.block.m-t-xs
								strong.small.font-bold {{ (main.session.user.fullName || main.session.user.username) | limitTo:20 }}&nbsp;
								b.caret
					ul.dropdown-menu.animated.fadeInRight.m-t-xs
						li
							a(ui-sref="users.edit({ userid: main.session.user._id })") Account
						li
							a(ng-click="main.logout()") Logout
				.logo-element.bree-serif tcms
			
			li(ng-class="{active: $state.includes('home')}")
				a(ui-sref='main.home')
					i.fa.fa-tachometer
					span.nav-label Dashboard

			li(ng-class="{active: $state.includes('content')}")
				a(ui-sref="content")
					i.fa.fa-sitemap
					span.nav-label Site Content
					span.fa.arrow
				ul.nav.nav-second-level(ng-class="{in: $state.includes('content')}")
					li(ui-sref-active="active")
						a(ui-sref='documents.list') Documents
					li(ui-sref-active="active")
						a(ui-sref='types.list') Types
					li(ui-sref-active="active")
						a(ui-sref='templates.list') Templates
					li(ui-sref-active="active")
						a(ui-sref='blocks.list') Blocks
					li(ui-sref-active="active")
						a(ui-sref='scripts.list') Scripts


			li(ng-class="{active: $state.includes('media')}")
				a(ui-sref='media')
					i.fa.fa-files-o
					span.nav-label Site Resources


			li(ng-class="{active: $state.includes('settings')}")
				a(ui-sref="settings")
					i.fa.fa-cogs
					span.nav-label Site Settings
					span.fa.arrow
				ul.nav.nav-second-level(ng-class="{in: $state.includes('settings')}")
					li(ui-sref-active="active")
						a(ui-sref='variables') Variables
					li(ui-sref-active="active")
						a(ui-sref='users.list') Users
			li(ng-class="{active: $state.includes('help')}")
				a(ui-sref='help')
					i.fa.fa-question
					span.nav-label Help