.row.wrapper.border-bottom.white-bg.page-heading
	.col-lg-9
		a(ui-sref="blocks.list({ blockid: null })")
			h2 Blocks
		ol.breadcrumb(ng-if="treeStack")
			strong {{ formdata.name }}

.wrapper.wrapper-content.animated.fadeInRight
	.row
		.col-lg-12
			form.form(name="BlockForm", ng-submit="submit()")
				.ibox.float-e-margins
					.ibox-title 
						.btn-toolbar.pull-right
							a.btn.btn-xs.btn-white(ng-click="cancel()") Cancel
							button.btn.btn-xs.btn-primary Save Changes
					.ibox-content
							.form-group
								label.control-label Name
								input.form-control(type="text", placeholder="Block Name", ng-model="formdata.name", required="true")
							
							.form-group
								ui-codemirror(ui-codemirror-opts="editorOptions", ng-model="formdata.text")
