.row.wrapper.border-bottom.white-bg.page-heading
	.col-lg-9
		a(ui-sref="blocks.list")
			h2 Blocks
.wrapper.wrapper-content
	.row
		.col-lg-3
			.ibox.float-e-margins
				.ibox-content
					button.btn.btn-primary.btn-block(ui-sref="blocks.add") Create Block
		.col-lg-9.animated.fadeInRight
			.row
				.col-lg-12
					.file-box(ng-repeat="block in blocks")
						.file
							span.corner
							.icon
								a(ui-sref="blocks.edit({ blockid: block._id })")
									i.fa.fa-code
							.file-name
								a(ui-sref="blocks.edit({ blockid: block._id })")
									| {{ block.name }}
									br
								small Added: {{ block.created | date }}
								.pull-right
									.dropdown(dropdown="")
										.btn.btn-xs.btn-link.dropdown-toggle(dropdown-toggle="")
											i.fa.fa-chevron-down
										ul.dropdown-menu.animated.fadeInRight
											li
												a(ng-click="delete(block)") Delete